
<div class="col-sm">
  <p class="center">{{character_name}}</p>
    <img class="character-image highlight center single" data-my-character={{character_id}} data-click-state="0" src="/images/{{character_image}}" />
      <p class="character-properties">{{character_description}}</p>
      <p class="character-properties"> Strength : {{character_strength}}</p>
      <p class="character-properties"> Endurance :{{character_endurance}}</p>

</div>