<section class="container container-fluid mt-5">
    <section class="container-fluid">
        <div class="row game-row">
            <aside class="col-3 left-aside">
                <h4>Points: {{game.game_points}}</h4>
                <br>
                <h4>Game Stats</h4>
                <p>Health: {{game.game_health}}%</p>
                <p>Strenght: {{game.game_strength}}%</p>
                <p>Endurance: {{game.game_endurance}}%</p>
                <p>Intelligence: {{game.game_Intelligence}}%</p>
            </aside>
            <div class="col-6 grid-column">
                {{#each game.game_grid as |tile|}}
                <div class="row grid-row">
                    {{#each tile as |details|}}
                    <div class="col-2 align-middle game-tile">
                        <p>{{details.emoji}}</p>
                    </div>
                    {{/each}}
                </div>
                {{/each}}
                <div class="game-buttons">
                    <button class="btn btn-dark" type="button" id="next-move">Next Move</button>
                </div>
            </div>
            <aside class="col-3 right-aside">
                <h2>Inventory</h2>
                <p>Knife</p>
            </aside>
        </div>
    </section>
</section>

<script src="js/game.js"></script>
